/*Start Variables*/

/*======(Colors)======*/
:root {
    --main-color: #19c8fa;
    --transparent-color:  rgba(15,116,143,70%);
    --paragraph-color: #777;
}

/*======(Lines height)=====*/
:root {
    --paragraph-height: 2;
}


/*======(Padding)======*/
:root {
    --section-padding: 100px;
}

/*======(Margin)======*/

/*End Variables*/




/*Start Components*/
.section-heading {
    text-align: center;
}

.section-heading h2 {
    font-weight: 400;
    font-size: 40px;
    position: relative;
    margin-bottom: 60px;
    text-transform: uppercase;
}

.section-heading h2::before {
    content: ' ';
    position: absolute;
    background-color: black;
    width: 120px;
    height: 2px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -30px;
}

.section-heading h2::after {
    content: ' ';
    position: absolute;
    background-color: white;
    left: 50%;
    transform: translateX(-50%);
    bottom: -38px;
    width: 14px;
    height: 14px;
    border: 2px solid black;
    border-radius: 25px;
    transition: 0.5s;
}

.section-heading h2:hover:after {
    background-color: var(--main-color);
}

.section-heading p {
    color: var(--paragraph-color) ;
    line-height: var(--paragraph-height);
    width: 550px;
    margin: 0 auto 100px;
    max-width: 100%;
}
/*End Components*/




 /* Start Nav icon for mobile */
.icon {
    width: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    transform: translateY(13%);
}
.icon span {
    width: 100%;
    height: 2px;
    background-color: white;
    margin-bottom: 5px;
}

.icon span:nth-child(2) {
    width: 60%;  
    transition: 0.4s;
}

.icon:hover span {
    background-color: var(--main-color);
}

.icon:hover span:nth-child(2) {
    width: 100%;  
}

@media(min-width: 767px){
    header nav .icon {
        display: none;
    }
}
/* End Nav icon for mobile */




/*Start Global rules to my Project*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

/*Small*/
@media (min-width: 786px) {
    .container {
        width: 750px;
    }
}

/*Medium*/
@media (min-width: 992px) {
    .container {
        width: 970px ;
    }  
}

/*Large*/
@media (min-width: 1200px) {
    .container {
        width: 1170px ;
    }  
}
/*Start Global rules to my Project*/

/*Start header*/
header {
    position: absolute;
    left:0;
    width: 100%;
    z-index: 2;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 97px;
}

    header .container::after {
        content: "";
        position: absolute;
        height: 1px;
        bottom: 0;
        width: calc(100% - 30px);
        left: 15px;
        background-color: #a2a2a2;
    }
header .logo img {
    height: 40px;
}

@media (max-width: 767px) {
    header .logo img {
        height: 30px;
    }
}

header nav {
    flex: 1;
    display: flex;
    justify-content: flex-end ;
    align-items: center;
}

header nav ul {
    display: flex;
}

@media (max-width: 767px) {
    header nav ul {
        display: none;
    }

    header nav .icon:hover + ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 15px;
        width: calc(100% - 30px);
        background-color: rgba(0,0,0,90%);
    }

    header nav ul li a {
        padding: 15px !important; 
    }
}

header nav ul li a {
    padding: 40px 10px;
    display: block;
    text-decoration: none;
    color: white;
    font-size: 14px;
    transition: 0.3s;
    position: relative;
    z-index: 2;
}

header nav ul li .active {
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
}

header nav ul li a:hover {
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
}

header nav .form {
    width: 40px;
    height: 30px;
    border-left: 1px solid white;
    margin-left: 30px;
    position: relative;
    transition: 0.3s;
}

    header nav .form:hover {
        color: var(--main-color);
        border-left-color: var(--main-color);
    }

header nav .form i {
    position: absolute;
    color: white;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    right: 0;
}

    header nav .form:hover i {
        color: var(--main-color);
    }
/*End header*/


/*Start Landing*/
.landing {
    background-image: url(../imgs/landing_3.jpg);
    background-size: cover ;
    background-position: center;
    min-height: 100vh;
    position: relative;
    background-color: #1f2021;
}

.landing .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0 , 0 , 0 , 35%);
}

.landing .text {
    color: white;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    background-color: var(--transparent-color);
    padding: 50px;
    display: flex;
    justify-content: flex-end;
}

.landing .text .content {
    max-width: 500px;
}

@media(max-width: 767px){
    .landing .text {
        width: 100%;
    }

    .landing .text .content {
        max-width: 100%;
    }
}

.landing .text .content h2 {
    font-size: 28px;
    line-height: 1.6;
    font-weight: normal;
    margin-bottom: 20px;
}
@media(max-width: 321px){
    .landing .text .content h2 {
        font-size: 15px;
    }
}

.landing .text .content p {
    font-size: 12px;
    line-height: var(--paragraph-height);
}

@media(max-width: 321px){
    .landing .text .content p {
        font-size: 9px;
    }
}

.landing .arrow-icon-left {
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    color: #ddd;
}

.landing .arrow-icon-right  {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    color: #ddd;
}

@media(max-width: 991px){
    .landing .arrow-icon-left {
        display: none;
    } 
}

@media(max-width: 1200px){
    .landing .arrow-icon-left {
        left: 10px !important ;
    } 
}

.landing .bullets {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    display: flex;
}

.landing .bullets li{
    width: 20px;
    height: 20px;
    border: 1px solid white;
    border-radius: 25px;
    margin-right: 10px;
}

.landing .bullets .active {
    background-color: var(--main-color);
    border-color: var(--main-color);
}
/*End Landing*/

/*Start Services*/
.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.services .services-content {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(450px,1fr));
    grid-column-gap: 40px;
    grid-row-gap: 60px;
}

.services .services-content .serv {
    display: flex;
}

.services .services-content .serv i {
    margin-right: 50px;
    color: #777;
}

@media (max-width: 768px) {
    .services .services-content {
        display: flex;
        flex-direction: column;
    }

    .services .services-content .serv {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .services .services-content .serv i {
        margin: 0 0 20px;
    }
}

.services .services-content .serv .text h3 {
    color: var(--main-color);
    margin-bottom: 30px;
}

.services .services-content .serv .text p {
    color: var(--paragraph-color);
    line-height: var(--paragraph-height);
}
/*End Services*/


/*Start Design*/
.design {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url(../imgs/design_4.jpg);
    height: 600px;
    background-position: center;
    background-size: cover ;
    display: flex;
    align-items: center;
    position: relative;
}

.design::before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0 , 0 , 0 , 35%);
}

.design .text {
    color: white;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    background-color: var(--transparent-color);
    padding: 50px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column ;
    z-index: 2;
}

@media (max-width: 991px) {
    .design .text {
        width: 100%;
    }
}

.design h2 {
    font-weight: normal;
    margin-bottom: 20px;
}

@media (max-width: 440px) {
    .design h2 {
        font-size: 15px;
    }
}

.design ul li {
    padding-bottom: 15px;
}

@media (max-width: 440px) {
    .design li {
        font-size: 12px;
    }
}

.design ul li::before {
    font-family: 'Font Awesome 5 Free';
    content: '\f108';
    font-weight: 900;
    margin-right: 10px;
    position: relative;
    top: 1px;
}
/*End Design*/


/*Start Portfolio*/
.portfolio {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.portfolio .shuffle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio .shuffle li {
    margin-left: 10px;
    padding:10px 25px;
    cursor: pointer;
}

@media (max-width: 480px) {
    .portfolio .shuffle li {
        margin-left: 5px;
        padding:5px 15px;
    }
}

@media (max-width: 360px) {
    .portfolio .shuffle li {
        margin-left: 5px;
        padding:5px 8px;
    }
}

.portfolio .shuffle .active {
    background-color: var(--main-color) ;
    color: white;
}

.portfolio .shuffle li:hover {
    background-color: var(--main-color) ;
    color: white;
}

.portfolio .imgs-containter {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;

}

.portfolio .imgs-containter .box {
    position: relative;
    overflow: hidden;
}

    .portfolio .imgs-containter .box:hover .caption {
        bottom: 0;
    }

    .portfolio .imgs-containter .box:hover img {
        transform: rotate(3deg) scale(1.1);
    }

@media (min-width: 768px) {
    .portfolio .imgs-containter .box {
        flex-basis: 50%;
    }
}

@media (min-width: 1199px) {
    .portfolio .imgs-containter .box {
        flex-basis: 25%;
    }
}

.portfolio .imgs-containter .box img {
    max-width: 100%;
    transition: 0.3s;
}

.portfolio .imgs-containter .box .caption {
    position: absolute;
    left: 0;
    width: 100%;
    background-color: white;
    padding: 10px;
    bottom: -100%;
    transition: 0.3s;
}

.portfolio .imgs-containter .box .caption h4 {
    margin-bottom: 10px;    
}

.portfolio .imgs-containter .box .caption p {
    color: var(--main-color);  
}

.portfolio .more {
    background-color: var(--main-color);
    color: white;
    text-decoration: none;
    padding: 10px 30px;
    display: block;
    width: fit-content;
    margin: 30px auto;
    text-transform: uppercase;
}
/*End Portfolio*/

/*Start Video*/
.video {
    position: relative;
}

.video video {
    position: relative;
    max-width: 100%;
}

.video .text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--transparent-color);
    width: 100%;
    padding: 50px;
    color: white;
    text-align: center;
}

.video .text h2 {
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 30px;
}

.video .text p {
    margin-bottom: 30px;
}

.video .text button {
    background-color: black;
    color: white;
    padding: 4px 20px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
}

.video .text button:hover {
    background-color: black;
    color: var(--main-color);
}

@media (max-width: 767px) {
    .video .text {
        padding: 10px;
    }

    .video .text h2 {
        font-size: 20px ;
        margin-bottom: 15px;
    }

    .video .text p {
        margin-bottom: 15px;
    }

    .video .text button {
        padding: 4px 15px;
    }
}

/*End Video*/

/*Start About*/
.about {
    padding-top: var(--section-padding);
    padding-bottom: calc(var(--section-padding) + 60px);;
}

.about .about-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 80px;
}

@media (max-width: 992px) {
    .im-2 {
        display: none;
    }
    .about .about-content {
        flex-direction: column;
        text-align: center;
    }
}

.about .about-content .about-design {
    position: relative;
    width: 260px;
    height: 390px;
}

    .about .about-content .about-design::before {
        content: '';
        position: absolute;
        background-color: #ebeced;
        height: calc(100% + 100px);
        width: 100px;
        left: -10px;
        top: -50px;
        z-index: -1;
    }

    .about .about-content .about-design::after {
        content: '';
        position: absolute;
        border-left: 80px solid var(--main-color);
        border-bottom: 80px solid var(--main-color);
        width: 100px;
        height: calc(100% - 100px);
        right: -140px;
        top: -30px;
        z-index: -1; 
    }

.about .about-content .about-text {
    flex-basis: calc(100% - 500px);
}

.about .about-content .about-text p:first-of-type {
    line-height: 2;
    font-weight: bold;
    margin-bottom: 40px ;
}

.about .about-content .about-text .line {
    background-color: var(--main-color);
    width: 60%;
    height: 1.5px;
}

.about .about-content .about-text p:last-of-type {
    margin-top: 40px;
    line-height: 2;
    color: #777;
}
/*Start About*/

/*Start Statistics*/
.stats {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url(../imgs/stats.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    text-align: center;
} 

.stats::before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,35%);
}

.stats .container {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.stats .container .number {
    color: white;
    padding: 50px;
    background-color: var(--transparent-color);
}

/*Mobile First*/
@media (max-width: 767px) {
    .stats .container .number {
        flex-basis: 100%;
    }
}

@media (min-width: 767px) {
    .stats .container .number {
        flex-basis: 50%;
    }
}

@media (min-width: 992px) {
    .stats .container .number {
        flex-basis: 25%;
    }
}

.stats .container .number i {
    width: 40px;
    height: 40px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    margin: 0 auto 10px;
}

.stats .container .number h2 {
    font-size: 40px;
    font-weight: bold;
    margin: 0 auto 10px;
    -webkit-text-fill-color: white;
    -webkit-text-stroke: 2px #333;
    width: fit-content;
    position: relative;
}

.stats .container .number h2::before {
    content: attr(data-text);
    position: absolute;
    left: 0;
    top: 0;
    -webkit-text-fill-color: var(--main-color);
    transition: 0.5s;
    overflow: hidden;
    width: 0;
}

    .stats .container .number h2:hover:before {
        width: 100%;
    }

.stats .container .number p {
    font-size: 14px;
}
/*Start Statistics*/



